$hipster-red: rgb(240,60,2);
$again: rgb(194,26,1);
$damn-good: rgb(163,0,6);
$means: rgb(107,1,3);
$map-gray: rgb(36,36,38);
$footer-gray: lighten($map-gray, 5%);

.button-jar {
  display: flex;
  flex-direction: column;
  background-color: $map-gray;
  width: 30%;
  color: lighten($footer-gray, 15%);
  div{
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
    margin-top: 6.5%;
  }
  h3{
    font-weight: bold;
    text-align: left;
    color: lighten($footer-gray, 25%);
  }
}
.button-jar div {
  cursor: pointer;
}

#control-panel{
  width: 100%;
  display: flex;
  background-color: $map-gray;
  flex-direction: column;
  h3 {
    font-weight: bold;
    text-align: left;
    color: lighten($footer-gray, 25%);
  }
  div {
    font-size: 20px;
    cursor: pointer;
    width: 45px;
    height: 45px;
  }
}

.graph-type-icons{
  position: absolute;
  bottom: 0;
  border: 10px solid red;
}