$hipster-red: rgb(240,60,2);
$again: rgb(194,26,1);
$damn-good: rgb(163,0,6);
$means: rgb(107,1,3);
$map-gray: rgb(36,36,38);
$footer-gray: lighten($map-gray, 5%);

.button-jar {
  display: flex;
  flex-direction: column;
  background-color: $map-gray;
  width: 30%;
  color: lighten($footer-gray, 15%);
  div{
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
    margin-top: 6.5%;
  }
  h3{
    font-weight: bold;
    text-align: left;
    color: lighten($footer-gray, 25%);
  }
}
.button-jar div {
  cursor: pointer;
}

#control-panel{
  width: 100%;
  display: flex;
  background-color: $map-gray;
  flex-direction: column;
  h3 {
    text-size: 5px;
    font-weight: bold;
    text-align: left;
    color: lighten($footer-gray, 25%);
  }
  div {
    font-size: 20px;
    cursor: pointer;
    width: 45px;
    height: 45px;
  }

.icon-images{
  margin-left: 10%;
  background-size: contain;
  height: 20px;
  background-repeat: no-repeat;
  margin-top: 6%;
  }

.legend-text{
  font-size: 15px;
  margin-left: 100%;
  // margin-top: %;
  color: lighten($footer-gray, 25%);
  // padding-left: 60px;
}
  // div {
  //   // font-size: 20px;
  //   // cursor: pointer;
  //   // color: darken(white, 25%);
  //   // margin-top: 2%;
  //   // margin-left: 10%;
  //   // margin-right: 10%;
  //   // border: 1px solid;
  //   // border-left: 15px solid;
  //   // border-color: lighten($again, 20.5%);
  //   // width: 75%;
  //   // padding-top: 23px;
  //   // padding-left: 5px;
  //   // padding-bottom: 5px;
  //   // height: 15%;
  // }
}

#nav-panel {
 display: none;
 // flex-direction: column;
 width: 84%;
 // align-items: stretch;
 background-color: yellow;
 height: inherit;
}