@import url('http://fonts.googleapis.com/css?family=Oswald');

/// Slightly lighten a color
/// @access public
/// @param {Color} $color - color to tint
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

/// Slightly darken a color
/// @access public
/// @param {Color} $color - color to shade
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

$brightest-red: rgb(240,60,2);
$second-brightest: rgb(194,26,1);
$third-brightest: rgb(163,0,6);
$darkest-red: rgb(107,1,3);
$dark-color: rgb(28,1,19);

#chiasm-container {
 position: relative;
 left: 0px;
 right: 0px;
 top: 0px;
 bottom: 0px;
}

     /* Style the brush. Draws from http://bl.ocks.org/mbostock/4343214 */
.brush,
.extent {
  stroke: black;
  fill-opacity: .2;
  shape-rendering: crispEdges;
}

     /* Axis CSS from bar chart example http://bl.ocks.org/mbostock/3885304 */
.axis {
  font: 10px Helvetica;
}

.axis path,
.axis line {
  fill: none;
  stroke: lightgray;
  shape-rendering: crispEdges;
}

     /* Custom CSS for axis labels. */
.axis-label {
  text-anchor: middle;
  font-size: 1.1em;
}

body {
  background-color: tint(#556270, 42%);
}

Map
.graticule {
  fill: none;
  stroke: #000;
  stroke-opacity: .5;
  stroke-width: .5px;
}

.land {
  stroke: rgb(44,155,155);
  fill: black;
}

.boundary {
  fill: none;
  stroke: rgb(44,155,155);
}

#chiasm-container {
  // max-height: 65%;
  min-height: 75%;
}

#additional-info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: strech;
  height: 50%;
  margin-top: -3.5%;
}

#panel-1 {
  display: flex;
  flex-direction: row;
  width: 33%;
  align-items: stretch;
  opacity: 0.7;
}

h3 {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-family: 'Oswald';
  font-weight: bold;
}

#chart-viewer1 {
  background-color: $brightest-red;
  width: 69%;
  border-left: solid black 2px;
  border-right: dotted black 1px;
}

#chart-viewer2 {
  background-color: shade(#556270, 42%);
  width: 69%;
  border-left: solid black 2px;
  border-right: dotted black 1px;
}

#chart-viewer3 {
  background-color: shade(#556270, 42%);
  width: 69%;
  border-left: solid black 2px;
  border-right: dotted black 1px;
}

.chart-selector {
  display: flex;
  flex-direction: column;
  background-color: #556270;
  width: 30%;
  border-right: solid black 1px;
  justify-content: center;
}


#panel-2 {
  display: flex;
  flex-direction: row;
  width: 33%;
  align-items: stretch;
  margin-left: 15px;
  margin-right: 15px;
  opacity: 0.7;
}

#panel-3 {
  display: flex;
  flex-direction: row;
  width: 33%;
  align-items: stretch;
  opacity: 0.7;
}

.chiasm-component-date-chart{
 // position: static;
}

#main-container{
  position: absolute;
  width: 100%;
  height: 100%;
}

#left-additional-info{
  max-width: 50%;
}