#chiasm-container {
 position: relative;
 left: 0px;
 right: 0px;
 top: 0px;
 bottom: 0px;
}

     /* Style the brush. Draws from http://bl.ocks.org/mbostock/4343214 */
.brush,
.extent {
  stroke: black;
  fill-opacity: .2;
  shape-rendering: crispEdges;
}

     /* Axis CSS from bar chart example http://bl.ocks.org/mbostock/3885304 */
.axis {
  font: 10px Helvetica;
}

.axis path,
.axis line {
  fill: none;
  stroke: lightgray;
  shape-rendering: crispEdges;
}

     /* Custom CSS for axis labels. */
.axis-label {
  text-anchor: middle;
  font-size: 1.1em;
}

body {
  background:white;
}

Map
.graticule {
  fill: none;
  stroke: #000;
  stroke-opacity: .5;
  stroke-width: .5px;
}

.land {
  stroke: rgb(44,155,155);
  fill: black;
}

.boundary {
  fill: none;
  stroke: rgb(44,155,155);
}

#chiasm-container{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  // max-height: 65%;
  min-height: 85%;
}

#additional-info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: strech;
  background-color: blue;
  opacity: 0.6;
  padding-top: 100px;
  height: 300px;
}

#panel-1 {
  display: flex;
  flex-direction: row;
  background-color: red;
  width: 33%;
  align-items: stretch;
}

.button-jar {
  display: flex;
  flex-direction: column;
  background-color: purple;
  width: 30%;
}

#chart-viewer1 {
  background-color: red;
  width: 69%;
}

#chart-viewer2 {
  background-color: green;
  width: 69%;
}

#chart-viewer3 {
  background-color: yellow;
  width: 69%;
}

#panel-2 {
  display: flex;
  flex-direction: row;
  background-color: red;
  width: 33%;
  align-items: stretch;
}

#panel-3 {
  display: flex;
  flex-direction: row;
  background-color: red;
  width: 33%;
  align-items: stretch;
}

.chiasm-component-date-chart{
 // position: static;
}

#main-container{
  position: absolute;
  width: 100%;
  height: 100%;
}

#left-additional-info{
  max-width: 50%;
}