body {
  background:white;
}

 Map
.graticule {
  fill: none;
  stroke: #000;
  stroke-opacity: .5;
  stroke-width: .5px;
}

.land {
  stroke: rgb(44,155,155);
  fill: black;
}

.boundary {
  fill: none;
  stroke: rgb(44,155,155);
}

#chiasm-container{
  margin-left: 10%;
  margin-right: 10%;
  /*margin-top: 10%;*/
  max-height: 80%;
  min-height: 80%;
}

#header-div{
  background-color: red;
  height: 20%;
}

#chiasm-dummy {
  background-color: black;
  height: 600px;
}

#additional-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: strech;
  background-color: blue;
  height: 300px;
  opacity: 0.5;
}

#info-1 {
  background-color: red;
  width: 33%;
}

#info-2 {
  background-color: green;
  width: 33%;
}

#info-3 {
  background-color: yellow;
  width: 33%;
}

.chiasm-component-date-chart{
  position: static;
  max-height: 100%;
  min-height: 100%;
}

#main-container{
  position: absolute;
  width: 100%;
}
