body {
  background:white;
}

 Map
.graticule {
  fill: none;
  stroke: #000;
  stroke-opacity: .5;
  stroke-width: .5px;
}

.land {
  stroke: rgb(44,155,155);
  fill: black;
}

.boundary {
  fill: none;
  stroke: rgb(44,155,155);
}

#chiasm-container{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  max-height: 65%;
  min-height: 65%;
}

#additional-info{
  padding-top: 50%;
}

.chiasm-component-date-chart{
  position: static;
}

#main-container{
  position: absolute;
  width: 100%;
}
